<div class="container">
    <div class="header">
        <h2>WEEKLY</h2>
    </div>

    <div class="card">
        <div class="weeks">
            <div class="week">
                <div class="head" *ngFor="let t of todo2">
                    <div class="h3">
                        {{t.week}}. WEEKS
                    </div>
                    <div class="body" *ngFor="let a of t.data">
                        {{a.content}}
                        {{a.date | date:'EEEE'}}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>