.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f5;
    user-select: none;

    .header{
        display: flex;
        justify-content: center;
        background: white;
        margin-bottom: 30px;
        border-radius: 0px 0px 55px 55px;
        font-size: 20px;
        width: 100%;
        color: rgb(73, 109, 163);
        font-weight: bold;
    }

    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;


            .week{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: white;
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 2px 4px rgb(173, 171, 168);
                padding: 20px;
                margin-bottom: 30px;

                .head{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;

                    .h3{
                        display: flex;
                        align-items: center;
                        
                        background: rgb(73, 109, 163);
                        padding: 20px;
                        border-radius: 7px;                       
                        opacity: 0.8;
                        width: 90%;
                        margin: 20px 10px;
                        

                        h3{
                            font-size: 30px;
                            color: rgb(245, 239, 239);
                            font-weight: bold;
                            margin: 0px;
                            margin-left: 30px;
                        }
                    }

                    .body{
                        display: flex;
                        background: rgb(223, 235, 252);
                        box-shadow: 0 2px 4px rgb(128, 128, 128);
                        border-radius: 0px 30px 30px 0px;
                        padding: 20px;
                        font-size: 25px;
                        width: 80%;
                        margin-left: 70px;
                        margin-bottom: 10px;

                        .all{
                            display: flex;
                            justify-content: space-between;
                            width: 100%;

                            .left{
                                display: flex;
                                
                            .content{
                                display: flex;
                                margin-left: 50px;
                                font-family:cursive;
                                font-size: 25px;
                            }

                            .date{
                                display: flex;

                                .date-short{
                                    display: flex;
                                    background: rgb(212, 136, 100);
                                    padding: 10px;
                                    border-left: 10px solid rgb(158, 46, 1);
                                    border-radius: 0px 10px 10px 0px;
                                    font-size: 20px;
                                    font-family:cursive;
                                    color: white;
                                }
                                .date-long{
                                    background: rgb(212, 136, 100);
                                    padding: 10px;
                                    border-left: 10px solid rgb(158, 46, 1);
                                    border-radius: 0px 10px 10px 0px;
                                    font-size: 20px;
                                    font-family:cursive;
                                    color: white;
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: max-width visibility 0s, opacity 0.5s linear;
                                }
                            }:hover>.date-long{
                                visibility: visible;
                                opacity: 1;
                                width: 150px;
                               
                            }:hover>.date-short{
                                display: none;
                            }

                        }

                        .right{
                            display: flex;
                            margin-right: 10px;
                        }:hover{
                            cursor: pointer;
                        }
                   }

                    }
                }
            }
        
    }
}