.todos{
    display: flex;
    flex-direction: column;
    // align-items: center;
    background: rgb(242, 242, 245);
    height: 100%;

    .header{
        display: flex;
        justify-content: center;
        background: #729cb8;
        opacity: 0.8;
        margin-bottom: 50px;
        border-radius: 0px 0px 55px 55px;

        h1{
            color: cornsilk;
            margin: 15px;
        }
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 200px;

        .todos-in{

            display: flex;
            flex-direction: column;
            align-items: center;
            background: rgb(255, 255, 255);
            padding: 30px;
            width: 700px;
            height: 500px;
            border-radius: 20px;

    
            form{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
        
                input{
                    outline: 0;
                    border-width: 0 0 2px;
                    height: 40px;
                    width: 400px;
                    padding: 10px;
                    font-size: 18px;
    
                }:focus{
                    border-color: #1976D2;
                }
        
                button{
                    background: transparent;
                    outline: none;
                    border: none;   
    
                    svg{
                        fill: #ad981f;
                    }
                    :hover{
                        cursor: pointer;
                        fill: #dbc43e;
                    }
                }
                
            }
        
            .todoskolarım{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                width: 100%;
    
               
    
                .in{
                    display: flex;
    
                    .point{
                        margin: 10px;
                        :hover{
                            fill: green;
                        }
                    }
            
                    .content{
                        font-size: 25px;
                        font-family:Georgia, 'Times New Roman', Times, serif;
                        margin: 10px;
                        min-width: 400px;
                    }
                    
                    :hover{
                        cursor: pointer;
                    }
            
                    .delete{
                        border: none;
                        background: transparent;
                        outline: none;
    
                        :hover{
                            cursor: pointer;
                            fill: red;
                        }
                    }
                    
                }
            }
        }

        .container-in{
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
       

            .weekly{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: white;
                padding: 40px;
                margin: 5px;
                border-radius: 10%;
                width: 150px;

                p{
                    font-size: 20px;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                    margin-top: 30px;
                }
            }:hover{
                cursor: pointer;
            }

            .monthly{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: white;
                padding: 40px;
                margin: 5px;
                border-radius: 10%;
                width: 150px;

                p{
                    font-size: 20px;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                }
            }:hover{
                cursor: pointer;
            }
        }
    }
}



.in.done .content{
   
    text-decoration: line-through;
    color: rgb(168, 5, 5);

}
