<div class="container">
    <div class="header">
        <h2>MONTHLY TODO LİST</h2>
    </div>

    <div class="month">
        <hr>
        <h2>{{today | date:'MMMM'}}</h2>
        <hr>
    </div>

    <div class="card">
        <div class="weeks" *ngFor="let i of todoWeek">
            <h2>{{i.week}}. Weeks</h2>
            <div class="todo" *ngFor="let a of i.data">
                <div class="date">{{a.date | date:'EEEE'}}</div>
                <div class="content">{{a.content}}</div>
            </div>
        </div>
    </div>

    <div class="month">
        <hr>
        <h2>{{startDay | date:'MMMM'}}</h2>
        <hr>
    </div>

    <div class="card">
        <div class="weeks" *ngFor="let i of todoWeek2">
            <h2>{{i.week}}. Weeks</h2>
            <div class="todo" *ngFor="let a of i.data">
                <div class="date">{{a.date | date:'EEEE'}}</div>
                <div class="content">{{a.content}}</div>
            </div>
        </div>
    </div>
</div>